In [ ]:
Introduction to OOP

In [ ]:
Declaration

In [3]:
class ClassName:
    pass

In [ ]:
creating a class Object

In [4]:
class MyClass:
    pass

obj = MyClass() # Creating a MyClass object
print(obj)

<__main__.MyClass object at 0x0000013507AB2CB0>

In [6]:
class Employee:
    ID 
    salary
    department

NameError: name 'salary' is not defined

In [7]:
class Employee:
    
    ID = None
    salary = None
    department = None

In [ ]:
# object.property

In [8]:
Sandeep = Employee()

In [11]:
print("ID = ", Sandeep.ID)
print("salary = ", Sandeep.salary)

ID =  None
salary =  None

In [13]:
class Employee:
    
    ID = 72684
    salary = 100000
    department = "Software"

In [14]:
Sandeep = Employee()

In [15]:
print("ID = ", Sandeep.ID)
print("salary = ", Sandeep.salary)

ID =  72684
salary =  100000

In [17]:
Jigar = Employee()

In [18]:
print("ID = ", Jigar.ID)
print("salary = ", Jigar.salary)

ID =  72684
salary =  100000

In [25]:
class Employee:
    
    ID = None
    salary = None
    department = None

In [26]:
Sandeep = Employee()

In [27]:
print("ID = ", Sandeep.ID)

ID =  None

In [28]:
Sandeep.ID = 72684

In [29]:
print("ID = ", Sandeep.ID)

ID =  72684

In [ ]:
Creating Properties outside of a class

In [30]:
class Employee:
    
    ID = None
    salary = None
    department = None

In [31]:
Sandeep = Employee()

In [32]:
Sandeep.ID = 72684
Sandeep.salary = 100000
Sandeep.department = "Software"
#creating a new properties of Sandeep
Sandeep.title = "Manager"

In [33]:
print("ID = ", Sandeep.ID)
print("ID = ", Sandeep.title)

ID =  72684
ID =  Manager

In [36]:
Jigar = Employee()

In [37]:
Jigar.ID = 72685
Jigar.salary = 200000
Jigar.department = "Human Resources"

In [40]:
print("ID = ", Jigar.ID)
print("ID = ", Jigar.title)

ID =  72685

AttributeError: 'Employee' object has no attribute 'title'

In [ ]:
The initialization method is similar to other methods but has a pre-defined name, __init__.

In [41]:
class Employee:
    # defining the properties and assigning them None
    def __init__(self , ID , salary , department):
        self.ID = ID
        self.salary = salary
        self.department = department
    
# create an object of the Empolyee Class with Default Parameters

Sandeep = Employee(74648, 100000, "Software")
print("ID = ", Sandeep.ID)
print("ID = ", Sandeep.salary)
print("ID = ", Sandeep.department)

ID =  74648
ID =  100000
ID =  Software

In [44]:
class Employee:
    
    def emplpoyeDetails():
        pass

s1 = Employee()
s1.emplpoyeDetails()

TypeError: Employee.emplpoyeDetails() takes 0 positional arguments but 1 was given

In [48]:
class Student:
    
    def studentDetails(self):
        self.name = "Sandeep"
        print("Name = " , self.name)

s1 = Student()
s1.studentDetails()
Student.studentDetails(s1)
#class_name.function(object_name)

Name =  Sandeep
Name =  Sandeep

In [51]:
class Student:
    
    def studentDetails(self, name):
        self.name = name
        print("Name = " , self.name)

s1 = Student()
s1.studentDetails("Vaibhav")

Name =  Vaibhav

In [52]:
class Student:
    
    def studentDetails(self, name):
        self.names = name
        print("Name = " , self.names)

s1 = Student()
s1.studentDetails("Vaibhav")

Name =  Vaibhav

In [53]:
class Student:
    name = "Rohan"
    age = 16
    
s1 = Student()
s2 = Student()
print(s1.name, end=" ")
print(s2.name, end=" ")

Rohan Rohan

In [56]:
class Student:
    pp = 50

s1 = Student()
s1.pp= 58
s2 = Student()
s2.pp = 60
print(s1.pp)

58

In [57]:
class Student:
    name = "Parikh"
    def store_details(self):
        self.age = 60
    def print_details(self):
        print(self.name, end=" ")
        print(self.age)
        
s = Student()
s.store_details()
s.print_details()

Parikh 60

In [58]:
class Student:
    name = "Parikh"
    def store_details(self):
        self.age = 60
    def print_details(self):
        print(self.name, end=" ")
        print(self.age)
        
s = Student()
s.print_details()
s.store_details()

Parikh

AttributeError: 'Student' object has no attribute 'age'

In [ ]:
class Student:
    def __init__(self,name,age):
        self.name = "Vaibhav"
        self.age = 20

    def print_student_details():
        print(self.name, end= " ")
        print(self.age)
s = Student("Sandeep",25)
s.print_student_details()

In [ ]:
class Student:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def print_student_details(self):
        print(self.name, end= " ")
        print(self.age)

s = Student("Jigar",60)
s.print_student_details()