In [5]:
a = input()
print(type(a))
b = int(a)
print(type(b))

67
<class 'str'>
<class 'int'>

`Introduction to If-else`

In [ ]:
Simple If Statement
If-else Statement
if-elif-else Statement
Nested contionals

Simple If Statement

In [ ]:
if <Boolean/Condition>:
    <Code Block to be executed in case the Boolean or Condition is True>

In [8]:
ask = input("Did you Drink the Water:- Yes / No ")
if(ask == "Yes"):
    print("My Tummy is Full") 
    print("If you want More")

Did you Drink the Water:- Yes / No Yes
My Tummy is Full
If you want More

In [ ]:
If-else Statement

In [ ]:
if <Boolean/Condition>:
    <Code Block to be executed in case the Boolean or Condition is True>
else:
    <code Block to be executed in case the Boolean is False>

In [9]:
ask = input("Did you Drink the Water:- Yes / No ")
if(ask == "Yes"):
    print("My Tummy is Full") 
    print("If you want More")
else:
    print("then Go and Drink Some Water")

Did you Drink the Water:- Yes / No No
then Go and Drink Some Water

In [10]:
ask = True
if ask:
    print("Inside If") 
else:
    print("Inside Else")

Inside If

In [11]:
ask = False
if ask:
    print("Inside If") 
else:
    print("Inside Else")

Inside Else

In [ ]:
Else-if Statement

In [ ]:
if (Condition/Boolean):
    <code Block To Be executed in Case the if Condition is True>
elif(Condition/Boolean):
    <code Block To Be executed in Case the Elif Condition is True>
elif(Condition/Boolean):
    <code Block To Be executed in Case the Elif Condition is True>
else:
    <Code block to be executed in case the condition is False>

In [12]:
x = 5
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [13]:
n = 10
#Check If the number is between 1 to 10
if n>=1 and n<=10:
    print("too low")

#Check If the number is between 11 to 20
elif n>=10 and n<=20:
    print("medium")

#Check If the number is between 21 to 30
elif n>=20 and n<=30:
    print("large")
#Check if the number is greater than 30 
else:
    print("too large")

medium

In [15]:
n = 10
#Check If the number is between 1 to 10
if n>=10 and n<=20:
    print("Pratick Babbar SerðŸ¦")

#Check If the number is between 11 to 20
elif n>=1 and n<=10:
    print("medium")

#Check If the number is between 21 to 30
elif n>=20 and n<=30:
    print("large")
#Check if the number is greater than 30 
else:
    print("too large")

Pratick Babbar SerðŸ¦

In [16]:
"""
This problem has only one correct answer

    Inside If
    Inside else
    Inside If Inside else
"""

x = 15
if x <= 15:
    print("Inside if")
else:
    print("Inside else")

Inside if

'\nThis problem has only one correct answer\n\n    Inside If\n    Inside else\n    Inside If Inside else\n'

In [17]:
x = 5
if x < 6:
    print("Hello")
if x == 5:
    print("Hi")
else:
    print("Hey")

Hello
Hi

In [18]:
x = 5
if x < 6:
    print("Hello")
if x == 5:
    print("Hi")
elif x == 5:
    print("Hi")
elif x == 5:
    print("Hi")
else:
    print("Hey")

Hello
Hi

In [20]:
"""
This problem has only one correct answer
    A
    B
    C
    D
    B & D
"""
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
    
else:
     print('D')

B

In [ ]:
if True or True:
    if False and True or False or True:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
    
else:
     print('D')

`While Loops`

In [23]:
n = int(input("Enter the Number: "))
itr = 1
while itr <= n:
    print(itr , end = "  ")
#     itr = itr + 1
    itr += 1

Enter the Number: 10
1  2  3  4  5  6  7  8  9  10

In [25]:
n = int(input("Enter the Number: "))
itr = 1
add = 0
while itr <= n:
#     add += itr
    add = add + itr
    itr += 1

print(add)

Enter the Number: 10
55

In [26]:
i=0
while i<10:
print(i)
i=i+1

IndentationError: expected an indented block after 'while' statement on line 2 (Temp/ipykernel_13392/2813361112.py, line 3)

i=0
while i<10:
    print(i)
i = i+1

In [28]:
i=0
while i<10:
    print(i)
    i= i+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
Nested While Loop.

In [ ]:
while (Expression1):
    <Execute this code block till the Expression1 is True >
    while (Expression2):
        <Execute this code block till the Expression2 is True >
        #Increment/Decrement in looping variable (inner While loop Increment/Decrement)
    #Increment/Decrement in looping variable (Outer While loop Increment/Decrement)

n = 4

****
****
****
****

In [35]:
n = int(input())
row = 1
while row <= n:
    col = 1
    while col <= n:
        print("*",end=" ")
        col += 1
    print()
    row += 1

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n = 4
1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1

In [38]:
n = int(input())
row = 1
while row <= n:
    col = 1
    while col <= n:
        print("1",end=" ")
        col += 1
    print()
    row += 1

4
1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1

In [ ]:
n = 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [40]:
n = int(input())
row = 1
while row <= n:
    col = 1
    while col <= n:
        print(col,end=" ")
#         print(f"Col loop value :-  {col}",end = " ")
        col += 1
    print()
    row += 1

4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
n = 4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [41]:
n = int(input())
row = 1
while row <= n:
    col = 1
    while col <= n:
        print(row,end=" ")
        col += 1
    print()
    row += 1

4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [42]:
n = int(input())
row = 1
while row <= n:
    col = 1
    while col <= n:
        print("Sadeep",end=" ")
        col += 1
    print()
    row += 1

4
Sadeep Sadeep Sadeep Sadeep
Sadeep Sadeep Sadeep Sadeep
Sadeep Sadeep Sadeep Sadeep
Sadeep Sadeep Sadeep Sadeep

In [ ]:
1111
1221
1221
1111

In [ ]:
Break Statement

In [43]:
n = int(input())
row = 1
while row <= n:
    if(row == 5):
        break
    else:
        print(f"Row :- {row}")
    row += 1

10
Row :- 1
Row :- 2
Row :- 3
Row :- 4

In [46]:
n = int(input())
row = 0
while row < n:
    row += 1
    if(row == 5):
        continue
    else:
        print(f"Row :- {row}")

10
Row :- 1
Row :- 2
Row :- 3
Row :- 4
Row :- 6
Row :- 7
Row :- 8
Row :- 9
Row :- 10

In [48]:
n = int(input())
row = 0
while row <= n:
    row += 1
    if(row == 5 or row == 11):
        continue
    else:
        print(f"Row :- {row}")

15
Row :- 1
Row :- 2
Row :- 3
Row :- 4
Row :- 6
Row :- 7
Row :- 8
Row :- 9
Row :- 10
Row :- 12
Row :- 13
Row :- 14
Row :- 15
Row :- 16

In [49]:
n = int(input())
row = 0
while row <= n:
    row += 1
    if(row == 5 or row == 11 or row == 15):
        continue
    else:
        print(f"Row :- {row}")

20
Row :- 1
Row :- 2
Row :- 3
Row :- 4
Row :- 6
Row :- 7
Row :- 8
Row :- 9
Row :- 10
Row :- 12
Row :- 13
Row :- 14
Row :- 16
Row :- 17
Row :- 18
Row :- 19
Row :- 20
Row :- 21

In [59]:
n = int(input())
row = 0
if(row == 5):
    pass

52

In [ ]:
1 1 2 3 5 8 13 21 34 or 0 1 1 2 3 5 8 13 21 34

In [ ]:
Input : Edyoda

In [ ]:
output: adoydE

In [ ]:
a = input("Input : ")

for char in range( (len(a)-1) , -1 , -1 ):
    print( (a[char]), end="" )