In [2]:
a = int(input())
b = int(input())
c = int(input())

print(c-b)

5
10
15
5

In [5]:
"""

The given coordinates of the diagonal are (x1,y1) = (1,1) and (x2,y2) = (3, 3).
The area of the rectangle can then easily be calculated as:
(3 – 1) * ( 3 – 1) = 2 * 2 = 4

"""

x1 = int(input("X1 - "))
y1 = int(input("y1 - "))
x2 = int(input("x2 - "))
y2 = int(input("y2 - "))

print((x1) * (y2))

X1 - 5
y1 - 3
x2 - 5
y2 - 3
15

In [8]:
'''
Given an integer n, find and print the sum of numbers from 1 to n.

Note : Use while loop only.
Input Format :
Integer n
Output Format :
Sum
Sample Input :
10
Sample Output :
55

'''

n = int(input())
add = 0
i = 1
while i <= n:
    add += i     # add =  add + i
    i += 1
    
print(add)

6
21

In [18]:
'''
Nth term of Fibonacci series F(n), where F(n) is a function, is calculated using the following formula -
F(n) = F(n-1) + F(n-2),
Where, F(1) = F(2) = 1
Provided N you have to find out the Nth Fibonacci Number.


The first line of each test case contains a real number ‘N’.	Explanation of Sample Input 1:
Output Format :	Now the number is ‘6’ so we have to find the “6th” Fibonacci number
For each test case, return its equivalent Fibonacci number.
So by using the property of the Fibonacci series i.e
Sample Input 1:	[ 1, 1, 2, 3, 5, 8]
6	So the “6th” element is “8” hence we get the output.
Sample Output 1:	
8	
'''

n = int(input("Enter the number upto which u need fibonacci number, "))
fib = -1
num1 = 0
num2 = 1
for i in range (n):
    fib = num1 + num2
    num1 = num2
    num2 = fib
    
print(num1)

Enter the number upto which u need fibonacci number, 6
8

In [ ]:
n=int(input())
f1=0
f2=1
c=0
if n==1:
    print(f1,f2 ,sep="")
elif n==2:
    print(f1,f2 ,sep=" ")
else:
    print(f1,f2 ,sep="")
    while c<n:
        f=f1+f2
        print(f)
        f1,f2=f2,f
        c+=1

In [19]:
while True:
    n = input()
    if n == 'q':
        break

5
4
10
75
q

In [26]:
'''
"3) A three digit number is called Armstrong number if sum of cube of its digit is equal to number itself.

E.g.- 153 is an Armstrong number because (1^3)+(5^3)+(3^3) = 153. Write all Armstrong numbers between 100 to 500

Find all the Armstrong number between two integers x and y.(both number inclusive)

Constraints:

x and y are 3 digits only *** Note: Remember to convert a string to int if required based on the code provided."
'''

n=int(input())
s=0
num = n
while num > 0:
    r = num % 10
    s = s + (r**3)
    num = num // 10
    
if s==n:
    print("armstrong number")
else:
    print("not armstrong number")

152
not armstrong number

In [30]:
n=int(input())
s=0
num = n
while n > 0:
    r = n % 10
    s=s+(r**3)
    n=n // 10
    
if s == num:
    print("armstrong number")
else:
    print("not armstrong number")

153
armstrong number

Select all of the following statements that remove the middle element 3 from a so that it equals [1, 2, 4, 5]

a) del a[2]

b) a.remove(3)

c) a[2:3] = []

d) a[2] = []

a = [1, 2, 3, 4, 5]

In [34]:
a = [1, 2, 3, 4, 5]
a[2:3] = []
a

[1, 2, 4, 5]

In [35]:
s = 'foo'
t = 'bar'
print('barf' in 2 * (s + t))

True

In [ ]:
Which Python code is correct to create a tuple with a single element, the string 'foo', and assign it to a variable called t.

t = ('foo',)
Correct Option
t = ('foo')
t = ['foo']
t = 'foo'

In [37]:
t = ('foo',)
print(type(t))

<class 'tuple'>

In [38]:
t = "123", "agfa" , 13 , "adfg"
print(type(t))

<class 'tuple'>

In [39]:
t = "adf",
print(type(t))

<class 'tuple'>

In [40]:
#unPacking

t = "123", "agfa" , 13 , "adfg"
sandeep , neeraj , snegha , tejashri = t
print(sandeep)
print(type(t))

123
<class 'tuple'>