#Fahrenheit to Celsius Function
"""
Given three values - Start Fahrenheit Value (start), End Fahrenheit value (end) and Step Size (step),
you need to convert all Fahrenheit values from Start to End at the gap of W,
into their corresponding Celsius values and print the table.

Input Format :
3 integers - start, end and step respectively

Output Format :
Fahrenheit to Celsius conversion table.
One line for every Fahrenheit and Celsius Fahrenheit value.
Fahrenheit value and its corresponding Celsius value should be separate by tab ("\t")
"""

Sample Input 1:
0
100
20

Sample Output 1:
0   -17
20  -6
40  4
60  15
80  26
100 37

Sample Input 2:
120
200
40

Sample Output 2:
120 48
160 71
200 93

## `Function`

In [ ]:
 nCr = n! / ((n â€“ r)! r!)

In [2]:
n = int(input())
r = int(input())

n_fact = 1
for i in range(1 , n + 1):
    n_fact *= i 

r_fact = 1
for i in range(1 , r + 1):
    r_fact *= i
    
n_r_fact = 1
for i in range(1 , n - r + 1):
    n_r_fact *= i

ans = n_fact // (r_fact * n_r_fact)
print(ans)

4
2
6

In [7]:
def fact(a):
    a_fact = 1
    for i in range(1 , a + 1):
        a_fact *= i 
    return a_fact

In [8]:
n = int(input())
r = int(input())

n_fact = fact(n)
r_fact = fact(r)
n_r_fact = fact(n-r)
ans = n_fact // (r_fact * n_r_fact)
print(ans)

5
2
10

We can define our own functions:

In [11]:
def func_1():
    print("running func1")

In [14]:
func_1

In [12]:
func_1()

running func1

Note that to "call" or "invoke" a function we need to use the **()**.

Simply using the function name without the **()** refers to the function, but does not call it:

We can also define functions that take parameters:

In [23]:
def func_2(a,b):
    return a*b

Note that **a** and **b** can be any type (this is an example of polymorphism - which we will look into more detail later in this course). 

But the function will fail to run if **a** and **b** are types that are not "compatible" with the ***** operator:

In [16]:
func_2(3,2)

6

In [17]:
func_2('a',2)

'aa'

In [24]:
func_2('a','b')

TypeError: can't multiply sequence by non-int of type 'str'

In [19]:
'a'*4

'aaaa'

In [21]:
def func_3(a,b):
    return a**b

In [22]:
func_3('a',2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

Functions **must** always return something. If you do not specify a return value, Python will automatically return the **None** object:

In [1]:
def func_4():
    a = 2

In [2]:
res = func_4()

In [3]:
print(res)

None

In [31]:
res

2

The **def** keyword is an executable piece of code that creates the function (an instance of the **function** class) and essentially assigns it to a variable name (the function **name**). 

Note that the function is defined when **def** is reached, but the code inside it is not evaluated until the function is called.

This is why we can define functions that call other functions defined later - as long as we don't call them before all the necessary functions are defined.

For example, the following will work:

In [4]:
def fn_1():
    fn_2()
    
def fn_2():
    print('Hello')
    
fn_1()

Hello

But this will not work:

In [5]:
def fn_3():
    fn_4()

fn_3()

def fn_4():
    print('Hello')

NameError: name 'fn_4' is not defined

## `Positional Arguments`

In [32]:
def my_func(a,b,c):
    print(f'a = {a} , b = {b} , c = {c}')
    
my_func(1 ,2 ,3)

a = 1 , b = 2 , c = 3

## `Default Parameters in Functions`

In [37]:
def my_func(a ,b = 2 , c = 3):
    print(f'a = {a} , b = {b} , c = {c}')
    print("a = {0} , b = {1} , c = {2}".format(a,b,c))
    
my_func(1 ,5 ,7)

a = 1 , b = 5 , c = 7
a = 1 , b = 5 , c = 7

In [34]:
def my_func(a ,b = 2 , c = 3):
    print(f'a = {a} , b = {b} , c = {c}')
    
my_func(1 , 2)

a = 1 , b = 2 , c = 3

In [6]:
def my_func(a ,b = 2 , c = 3):
    print(f'a = {a} , b = {b} , c = {c}')
    
my_func(1 )

a = 1 , b = 2 , c = 3

In [7]:
my_func(10, 20)

a = 10 , b = 20 , c = 3

In [8]:
my_func(10)

a = 10 , b = 2 , c = 3

Since **a** does not have a default value, it **must** be specified:

In [9]:
my_func()

TypeError: my_func() missing 1 required positional argument: 'a'

Note that once a parameter is assigned a default value, **all** parameters thereafter **must** be asigned a default value too!

For example, this will not work:

In [36]:
def my_func(a ,b = 2 , c ):
    print(f'a = {a} , b = {b} , c = {c}')
    
my_func(1 , 5)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_8992/1646200148.py, line 1)

## `KeyWord Argument ( named Arguments)`

Positional arguments, can **optionally**, be specified using their corresponding parameter name.

This allows us to pass the arguments without using the positional assignment:

In [39]:
def my_func(a ,b = 2 , c = 3 ):
    print(f'a = {a} , b = {b} , c = {c}')
    
my_func(1 , c = 5)

a = 1 , b = 2 , c = 5

In [40]:
def my_func(a ,b , c = 3 ):
    print(f'a = {a} , b = {b} , c = {c}')
    
my_func(1 , 3, c = 5)

a = 1 , b = 3 , c = 5

In [41]:
def my_func(a ,b = 2 , c = 3 ):
    print(f'a = {a} , b = {b} , c = {c}')
    
my_func(1 , c = 5)

a = 1 , b = 2 , c = 5

In [10]:
def my_func(a ,b = 2 , c = 3 ):
    print(f'a = {a} , b = {b} , c = {c}')
    
my_func(10 , c = 5 , b = 15)

a = 10 , b = 15 , c = 5

Note that once a keyword argument has been used, **all** arguments thereafter **must** also be named:

In [11]:
my_func(10, b=20, 30)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_16976/3343971405.py, line 1)

However, if a parameter has a default value, it *can* be omitted from the argument list, named or not:m

In [13]:
my_func(10, c=30)

a = 10 , b = 2 , c = 30

In [14]:
my_func(a=30, c=10)

a = 30 , b = 2 , c = 10

In [15]:
my_func(c=10, a=30)

a = 30 , b = 2 , c = 10

## `Unpacking Iterables`

#### Side Note on Tuples

This is a tuple:

In [16]:
a = (1, 2, 3)

In [17]:
type(a)

tuple

This is also a tuple:

In [43]:
a = 1,2,3
type(a)

tuple

In fact what defines a tuple is not **()**, but the **,** (comma)

To create a tuple with a single element:

In [19]:
a = (1)

will not work!!

In [20]:
type(a)

int

Instead, we have to use a comma:

In [21]:
a = (1,)

In [22]:
type(a)

tuple

And in fact, we don't even need the **()**:

In [23]:
a = 1,

In [24]:
type(a)

tuple

The only exception is to create an empty tuple:

In [25]:
a = ()

In [26]:
type(a)

tuple

Or we can use the tuple constructor:

In [27]:
a = tuple()

In [28]:
type(a)

tuple

#### Unpacking

Unpacking is a way to split an iterable object into individual variables contained in a list or tuple:

In [44]:
l = [1,2,3,4]

In [45]:
a,b,c,d = l
print(a,b,c,d)

1 2 3 4

Strings are iterables too:

In [46]:
a , b, c = 'XYZ'
print(a,b,c)

X Y Z

## Swapping Two Variables

Here's a quick application of unpacking to swap the values of two variables.

First we look at the "traditional" way you would have to do it in other languages such as Java:

In [48]:
a = 10
b = 20
print(f'Initial :- a = {a} , b = {b}')

temp = a
a = b
b = temp
print(f'Final:- a = {a} , b = {b}')

Initial :- a = 10 , b = 20
Final:- a = 20 , b = 10

But using unpacking we can simplify this:

In [49]:
a = 10
b = 20
print(f'Initial :- a = {a} , b = {b}')

a,b = b,a
print(f'Final:- a = {a} , b = {b}')

Initial :- a = 10 , b = 20
Final:- a = 20 , b = 10

In fact, we can even simplify the initial assignment of values to a and b as follows:

In [50]:
a ,b = 10 , 20
print(f'Initial :- a = {a} , b = {b}')

a,b = b,a
print(f'Final:- a = {a} , b = {b}')

Initial :- a = 10 , b = 20
Final:- a = 20 , b = 10

## Extended Unpacking

Let's see how we might split a list into it's first element, and "everything else" using slicing:

In [51]:
l = [1,2,3,4,5,6,7,8]

In [52]:
a = l[0]
b = l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6, 7, 8]

We can even use unpacking to simplify this slightly:

In [53]:
a , b = l[0] , l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6, 7, 8]

But we can use the **\*** operator to achieve the same result:

In [54]:
l = [1,2,3,4,5,6,7,8]

In [57]:
a , *b = l
print(a)
print(b)

1
[2, 3, 4, 5, 6, 7, 8]

Note that the **\*** operator can only appear **once**!

Like standard unpacking, this extended unpacking will work with any iterable.

With tuples:

In [58]:
a , *b = -10 , 5 , 2 , 100

In [59]:
print(a)
print(b)

-10
[5, 2, 100]

With strings:

In [60]:
a , *b = "JIGARPAL"

In [61]:
print(a)
print(b)

J
['I', 'G', 'A', 'R', 'P', 'A', 'L']

In [62]:
c = ''.join(b)

In [63]:
print(c)

IGARPAL

In [64]:
l1 = [1,2,3]
l2 = [4,5,6]
l = [*l1 , *l2]
print(l)

[1, 2, 3, 4, 5, 6]

In [65]:
l1 = [1,2,3]
s = "ABC"
l = [*l1 , *s]
print(l)

[1, 2, 3, 'A', 'B', 'C']

## `*args`

Recall from iterable unpacking:

We can use a similar concept in function definitions to allow for arbitrary numbers of **positional** parameters/arguments:

In [68]:
def func1(a , b ,*args):
    print(a)
    print(b)    
    print(args)

In [69]:
func1(1,2,'a','b')

1
2
('a', 'b')

In [70]:
func1(1,2,'a','b',5,8.10)

1
2
('a', 'b', 5, 8.1)

A few things to note:

1. Unlike iterable unpacking, **\*args** will be a **tuple**, not a list.

2. The name of the parameter **args** can be anything you prefer

3. You cannot specify positional arguments **after** the **\*args** parameter - this does something different that we'll cover in the next lecture.

In [71]:
def func1(a , b ,*anurag):
    print(a)
    print(b)    
    print(anurag)

In [72]:
func1(1,2,'a','b',5,8.10)

1
2
('a', 'b', 5, 8.1)

In [76]:
def func1(a , b ,*args, c):
    print(a)
    print(b)    
    print(args)
    print(c)

In [77]:
func1(1,2,'a','b',5,8.10,  'c')

1
2
('a', 'b', 5, 8.1)
c

Let's see how we might use this to calculate the average of an arbitrary number of parameters.

In [80]:
def avg(*args):
    count = len(args)
    total = sum(args)
    return total / count

In [81]:
avg(2,2,4,4)

3.0

But watch what happens here:

In [82]:
avg()

ZeroDivisionError: division by zero

The problem is that we passed zero arguments.

We can fix this in one of two ways:

In [84]:
def avg(*args):
    count = len(args)
    total = sum(args)
    if count == 0:
        return 0
    else:
        return total / count

In [85]:
avg()

0

In [89]:
avg(5)

5.0

But we may not want to allow specifying zero arguments, in which case we can split our parameters into a required (non-defaulted) positional argument, and the rest:

In [86]:
def avg(a, *args):
    count = len(args) + 1
    total = a + sum(args)
    
    return total / count

In [87]:
avg()

TypeError: avg() missing 1 required positional argument: 'a'

In [88]:
avg(4)

4.0

As you can see, an exception occurs if we do not specify at least one argument.

#### Unpacking an iterable into positional arguments

In [101]:
def func5(a, b, c):
    print(a)
    print(b)    
    print(c)

In [102]:
l = [10 ,20 ,30]

This will **not** work:

In [103]:
func5(l)

TypeError: func5() missing 2 required positional arguments: 'b' and 'c'

The function expects three positional arguments, but we only supplied a single one (albeit a list).

But we could unpack the list, and **then** pass it to as the function arguments:

In [105]:
*l,

(10, 20, 30)

In [104]:
func5(*l)

10
20
30

What about mixing positional and keyword arguments with this?

In [107]:
def func6(a, b, c , *d):
    print(a)
    print(b)    
    print(c)    
    print(d)

In [108]:
func6(10 , c = 20 , b = 10 , 'a' , 'b')

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_8992/3661828170.py, line 1)

Recall that once a keyword argument is used in a function call, we **cannot** use positional arguments after that. 

However, in the next lecture we'll look at how to address this issue.

In [109]:
func6(10 , 20 ,  10 , 'a' , 'b')

10
20
10
('a', 'b')

## `Keyword Argument`

Recall: positional parameters defined in functions can also be passed as named (keyword) arguments.

In [110]:
def func6(a , b ,c):
    print(a , b, c)

In [111]:
func6(10 , 20 , 30)

10 20 30

In [112]:
func6(b = 10 , c =  20 , a = 30)

30 10 20

Using a named argument is optional and up to the caller.

What if we wanted to force calls to our function to use named arguments?

We can do so by **exhausting** all the positional arguments, and then adding some additional parameters in teh function definition:

In [113]:
def func7(a, b, *args , d):
    print(a, b, args , d)

Now we will need at least two positional arguments, an optional (possibly even zero) number of additional arguments, and this extra argument which is supposed to go into **d**. This argument can **only** be passed to the function using a named (keyword) argument:

So, this will not work:

In [114]:
func7(10 , 20 , 'a' , 'b' , 100)

TypeError: func7() missing 1 required keyword-only argument: 'd'

But this will:

In [115]:
func7(10 , 20 , 'a' , 'b' , d = 100)

10 20 ('a', 'b') 100

As you can see, **d** took the keyword argument, while the remaining arguments were handled as positional parameters.

We can even define a function that has only optional positional arguments and mandatory keyword arguments:

In [118]:
def func8(*args , d):
    print(args)
#     print(d)

In [119]:
func8(1,2,3,d = 'Hello')

(1, 2, 3)

We can of course, not pass any positional arguments:

In [30]:
func1(d='hello')

NameError: name 'func1' is not defined

but the positional argument is mandatory (since no default was provided in the function definition):

In [32]:
func1()

NameError: name 'func1' is not defined

## `**kwargs`   -> keyword Argument

In [120]:
def func9(**kwargs):
    print(kwargs)

In [121]:
func9(x = 100 , y = 200)

{'x': 100, 'y': 200}

We can also use it in conjunction with *args:

In [122]:
def func10(*args , **kwargs):
    print(args)
    print(kwargs)

In [123]:
func10(1,2, a = 500 , b = 1000)

(1, 2)
{'a': 500, 'b': 1000}

There is no need to even do this, since **\*\*kwargs** essentially indicates no more positional arguments.

In [124]:
def newFunc(a , b ,**kwargs):
    print(a)
    print(b)    
    print(kwargs)

In [126]:
newFunc(1 , 2 ,c = 10 , d = 100)

1
2
{'c': 10, 'd': 100}

Note: You cannot do the following:

In [127]:
def newFunc(* , **kwargs):
    print(kwargs)

SyntaxError: named arguments must follow bare * (Temp/ipykernel_8992/1240715493.py, line 1)

Also, you cannot specify parameters **after** **\*\*kwargs** has been used:

In [128]:
def newFunc(a , b ,**kwargs , c):
    pass

SyntaxError: invalid syntax (Temp/ipykernel_8992/486681138.py, line 1)

If you want to specify both specific keyword-only arguments and **\*\*kwargs** you will need to first get to a point where you can define a keyword-only argument (i.e. exhaust the positional arguments, using either **\*args** or just **\***)

In [129]:
def new(* , d , **kwargs):
    print(d)
    print(kwargs)

In [130]:
new(d = 1 , x = 100 , y = 200)

1
{'x': 100, 'y': 200}

## `Global Variable`

In [131]:
a1 = 10   #global Variable

def f1():
    b1 = 12 #local variable
    print(b1 , end = ' Inside f1()')

print(a1)
f1()

10
12 Inside f1()

In [132]:
a1 = 10   #global Variable

def f1():
    b1 = 12 #local variable
    print(b1 , end = ' Inside f1()')
    print(a1)

print(a1)
f1()

10
12 Inside f1()10

In [133]:
a1 = 10   #global Variable

def f1():
    a1 = 12 #local variable
    print(a1)

print(a1)
f1()

10
12

In [134]:
a1 = 10   #global Variable

def f1():
    print(a1)

print(a1)
f1()

10
10

In [138]:
def f12():
    print(a12)

print(a12)
f12()

NameError: name 'a12' is not defined

In [135]:
def func(a):
    a = a + 10
    return a
a = 5
func(a)
print(a)

5

In [139]:
def func(a):
    a = a + 10
    return a
a = 5
a = func(a)
print(a)

15

In [140]:
def square(a):
    ans  = a*a
    return  ans

a = 4
a = square(a)
print(a)

16

In [144]:
def square(a):
    ans  = a*a
    return  "Tejashree"

a = 4
a = square(a)
print(a)

Tejashree

In [145]:
a = 14
def f():
    a=12
f()
print(a)

14

In [146]:
a=14
def f():
    global a
    a=12
f()
print(a)

12

In [147]:
a = 14
def f():
    a = 12
    return a
a = f()
print(a)

12

In [148]:
def function(a,b,c=1):
    return a+b-c
value = function(10,12)
print(value)

21

In [149]:
def function(a,b,c=1):
    return a+b-c
value = function(10,12,5)
print(value)

17

In [150]:
def function(a,b,c=1,d=5):
    return a+b+c+d
value = function(1,2,d=7)
print(value)

11

In [ ]:
#Fahrenheit to Celsius Function
"""
Given three values - Start Fahrenheit Value (start), End Fahrenheit value (end) and Step Size (step),
you need to convert all Fahrenheit values from Start to End at the gap of W,
into their corresponding Celsius values and print the table.

Input Format :
3 integers - start, end and step respectively

Output Format :
Fahrenheit to Celsius conversion table.
One line for every Fahrenheit and Celsius Fahrenheit value.
Fahrenheit value and its corresponding Celsius value should be separate by tab ("\t")
"""

Sample Input 1:
0
100
20

Sample Output 1:
0   -17
20  -6
40  4
60  15
80  26
100 37

Sample Input 2:
120
200
40

Sample Output 2:
120 48
160 71
200 93

In [158]:
def fahrenheit_to_Celsius(start , end , steps):
    while start <= end:
#         temp = int((start - 32) / 1.8)
        temp = int((start - 32) * (5/9))
        print(start , end= '\t')
        print(temp)
        start = start + steps

s = int(input())
e = int(input())
step = int(input())
fahrenheit_to_Celsius(s, e, step)

120
200
40
120	48
160	71
200	93

In [153]:
5/9

0.5555555555555556

In [154]:
9/5

1.8

In [162]:
def fahrenheit_to_Celsius(start , end , steps):
    for i in range(start , end+1 , steps):
        temp = int((i - 32) * (5/9))
        print(i , end= '\t')
        print(temp)
#         i = i + steps

s = int(input())
e = int(input())
step = int(input())
fahrenheit_to_Celsius(s, e, step)

0
100
20
0	-17
20	-6
40	4
60	15
80	26
100	37

01.  Array or List Sum

n-> 3

Input-> 9 8 9

OP :- 26

In [163]:
def listSum(*args):
    arrSum = sum(args)
    return arrSum


n = int(input())
li = [int(x) for x in input().split()]
print(listSum(*li))

3
9 8 9
26

In [166]:
def listSum(*args):
    return sum(args)

li = [int(x) for x in input().split()]
print(li)
print(listSum(*li))

8 5 6 4 7 5 6 3 2 1
[8, 5, 6, 4, 7, 5, 6, 3, 2, 1]
47

In [168]:
def listSum(*args):
    return sum(args)

li = [int(x) for x in input().split(',')]
print(li)
print(listSum(*li))

7,8,8,7,4,5,3
[7, 8, 8, 7, 4, 5, 3]
42

In [ ]:
02.  Swap Alternate

n = 6

input :- 9 3 6 12 4 32

Output :- 3 9 12 6 32 4